.navbar {
    padding: 0;
    padding: 0.3rem 1.5rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.site {
    color: #919EAB;
}

.logo {
    display: flex;
    gap: 5px
}

.blink {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-weight: 700;
    font-size: 24px;
}

@media(min-width:415px) {
    .navbar {
        padding-left: 2rem;
    }
}